html, 
body {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: aliceblue;
}
#header{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    height: 12%;
}
#title{
    font-size: 12vh;
    margin: auto;
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
}
#back:link{
    text-decoration: none;
    color: black;
}
#back:visited{
    text-decoration: none;
    color: black;
}
#back:hover{
    text-decoration: none;
    color: black;
}
#gallery{
    height: 80%;
    width: 100%;
    position : relative; 
}
.sampletitle{
    font-size: 4vh;
    margin: auto;
    text-align: center;
    height: 6%;
    font-family: 'Yantramanav', sans-serif;
}
.sampletitle:first-child {
    padding-top: 3%;
}
.subtitle{
    font-size: 2vh;
    margin: auto;
    text-align: center;
    height: 3.3%;
    font-family: 'Yantramanav', sans-serif;
}
.samplepic{
    margin: auto;
    height: 23%;
    display: block;
}
#footer{
    height: 8%;
    width: 100%;
    text-align: center;
    font-size: 2.4vh;
    position : absolute;
    bottom : 0;
    font-family: 'Yantramanav', sans-serif;
}
#contactinfo{
    text-align: center;
}
#email:link{
    text-decoration: none;
    color: black;
}
#email:visited{
    text-decoration: none;
    color: black;
}
#email:hover{
    text-decoration: none;
    color: black;
}