html, 
body {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: aliceblue;
}

#company{
    height: 12%;
    width: 100%;
    text-align: center;
    font-size: 12vh;
    margin: auto;
    font-family: 'Yantramanav', sans-serif;
}
#header{
    height: 10%;
    margin: auto;
    font-size: 5vh;
    font-family: 'Yantramanav', sans-serif;
}
.header{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    padding-top: 6%;
}
div{
    position: absolute;
    width: 100%;
    height: 70%; 
    margin: 0px;
    background-image: url(https://photos-1.dropbox.com/t/2/AADxfxvp7cP2SbcLl5nC_VmUCjRRwflK3yXxU-GMAeGvFA/12/196588583/jpeg/1024x768/3/1470366000/0/2/Photo%20Aug%2004%2C%203%2048%2007%20PM.jpg/EPTC-5QBGPgBIAcoBw/fjuNtSUey2-vrb1orQzilRwGOgn46ClXYCLujskHay4?size_mode=3&size=1024x768);
    background-size: cover;
}
#greeting{
    margin-top: 12%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-size: 8vh;
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
}
#footer{
    height: 8%;
    width: 100%;
    text-align: center;
    font-size: 2.4vh;
    position : absolute;
    bottom : 0;
    font-family: 'Yantramanav', sans-serif;
}
#contactinfo{
    text-align: center;
}
.under:link{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}
.under:visited{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}
#email:link{
    text-decoration: none;
    color: black;
}
#email:visited{
    text-decoration: none;
    color: black;
}
#email:hover{
    text-decoration: none;
    color: black;
}
.under:hover{
    border-bottom: 3px solid black;
}
